
doctype html(lang='en', ng-app='Application')
head
  meta(charset='UTF-8')
  title Gelp - A type of fish?
body
  ui-view
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js')
  script(src='js/app.js')