//
   Created by monstertke on 9/12/16.
   This is the base view

h3 Gulp Angular


h1
h3 {{welcome}}

a(ui-sref="root.welcome") Home...

br

a(ui-sref="root.details") Details...

p Find these files in application_src/States